html {
  background-color: rgb(243, 243, 243);
  font-family: 'Noto Sans', sans-serif !important;
  color: rgb(34, 34, 34);
}

body {
  margin: 60px 150px;
  padding: 25px;
  background-color: #e3fdf79c;
  border-radius: 5px;
  max-height: 450px;
  box-shadow: 1px 1px 10px 0px #d8d8d8;
}
h1 {
}

#main {
  display: flex;
  flex-direction: column;
}
#nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: 5px;
}

.navBtn {
  margin-bottom: 5px;
  margin-right: 5px;
  height: 25px;
  width: 100px;
}

#listContainer {
  display: grid;
  grid-template-columns: 1fr 4fr;

  /* margin-top: 10px; */
}

#sidebarList {
  /* border: 1px solid; */
  height: 300px;
  overflow-y: scroll;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 1px 5px 0px #e4e4e4 inset;
}

#sidebarList p {
  padding: 10px;
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: 100%;
  border-bottom: 1px solid #e4e4e4;
  border-top-style: none;
  cursor: default;
}

#sidebarList p:hover {
  background-color: #f3f3f383;
}

.selectedInfo {
  padding: 10px 0;
  /* border: 1px solid; */
  margin-left: 10px;
  display: grid;
  grid-template-columns: 5fr 1fr;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 2px #e4e4e4 inset;
}

.infoBtns {
  border-left: 1px solid #e4e4e4;
  text-align: center;
}

.infoBtns button {
  height: 40px;
  width: 90%;
  margin-bottom: 5px;
}

.infoList {
  padding-top: 30px;
  padding-left: 30px;
}

.infoList div {
  padding-top: 10px;
}

.infoList label {
  padding-top: 10px;
}

.infoList input {
  margin-right: 15%;
  width: 60%;
  float: right;
}

.addNew {
  margin-top: 5px;
  height: 20px;
}

button {
  border-style: none;
  border-radius: 5px;
  background-color: #e2dfdf;
  font-family: 'Noto Sans', sans-serif;
}

button:hover {
  background-color: white;
  border: solid 1px #e2dfdf;
  box-shadow: 0px 0px 10px -2px #e4e4e4 inset;
}
